[Unit]
Description=AMEX YNAB Import

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=1m
StartLimitBurst=1
StartLimitInterval=5m

ExecStart=/usr/bin/docker run \
  --rm \
  --env-file /etc/systemd/environment/amex-ynab-import.env \
  ghcr.io/graysoncadams/amex-ynab-import:latest

[Install]
WantedBy=default.target